.app {
  text-align: center;
  height: 100%;
  background-color: #12181f;
  color: white;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  background-color: white;
  height: 20%;
  color: white;
}

#add-text {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #db4437;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
}

.plus {
  color: white;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 55px;
  font-size: 38px;
  font-family: 'Roboto';
  font-weight: 300;
}

.current-word {
  font-size: 10vw;
}

.text-speed-control {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.text-speed-control.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s cubic-bezier(0.77, 0, 0.175, 1);
}

.text-speed-control.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s cubic-bezier(0.77, 0, 0.175, 1);
}

.text-speed-controllers-box {
  display: flex;
}

.text-speed-controllers-box button {
  width: 10vw;
  height: 10vw;
  border-radius: 10px;
  background-color: #2eb297;
  color: white;
  font-weight: bolder;
}
